.o-landing {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  transform: translateY(-55%);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__title {
    font-family: $montserrat;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.a-logo {
  width: 300px;
  height: 277px;
  fill: $black;

  @media (prefers-color-scheme: dark) {
    fill: $athens-gray;
  }
}
