.a-heading {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  &.-uppercase {
    text-transform: uppercase;
  }

  &.-primary {
    color: $primary-color;
  }

  &.-secondary {
    color: $secondary-color;
  }

  // Variants (size + weight)
  &.-h1-regular {
    font-size: rem(48px);
    font-weight: 400;
  }

  &.-h2-regular {
    font-size: rem(36px);
    font-weight: 400;
  }

  &.-h3-medium {
    font-size: rem(28px);
    font-weight: 500;
  }

  &.-h4-semibold {
    font-size: rem(22px);
    font-weight: 600;
  }

  &.-h5-semibold {
    font-size: rem(18px);
    font-weight: 600;
  }
}
