/****************/
/**** COLORS ****/
/****************/
// Main
$jungle-green: #30bf75;
$elm: #1e9782;

// Basic
$woodsmoke: #111315;
$shark: #313335;
$shuttle-gray: #616365;
$iron: #d9dcdf;
$athens-gray: #f1f4f6;
$white: #ffffff;

// Generic variables
$primary-color: $jungle-green;
$secondary-color: $elm;
$black: $woodsmoke;
$grey: $shark;

/***************/
/**** FONTS ****/
/***************/
$montserrat: 'Montserrat', sans-serif;

// Generic variables
$font-primary: $montserrat;

/*********************/
/**** BREAKPOINTS ****/
/*********************/
$bp-tablet-down: 767px;
$bp-tablet-up: 768px;
$bp-desktop-down: 1279px;
$bp-desktop-up: 1280px;
$bp-desktop-large-down: 1599px;
$bp-desktop-large-up: 1600px;
