* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  width: 100%;
  color: $black;
  font-family: $text-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: currentcolor;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}

#app {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.-sr-only {
  position: absolute !important;
  padding: 0 !important;
  margin: -1px !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
}

.-sr-only-focusable:focus,
.-sr-only-focusable:active {
  margin: auto !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  white-space: normal !important;
  clip: auto !important;
  clip-path: none !important;
}
