:root {
  color-scheme: light dark;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  width: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: currentcolor;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}

#app,
.t-page {
  height: 100%;
  overflow-x: hidden;
  color: $cod-gray;
}
