.t-page {
  position: relative;
  height: 100%;

  // Default
  // &.-default {}

  // Landing
  &.-landing {
    color: $black;
    background: $athens-gray;

    @include dark {
      color: $athens-gray;
      background: $black;
    }
  }
}
